.exp-blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: rgb(245, 223, 196);
  filter: blur(250px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(115px);
}

.skills {
  display: flex;
  height: 90vh;
  margin-bottom: 13rem;
  margin-top: 9rem;
}

.skills-left {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.skills-left > :nth-child(1) {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fca61f;
}

.skills-left > :nth-child(2) {
  color: #001e6c;
  font-weight: 400px;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.skills-right {
  flex: 1;
  position: relative;
}

.skills-right > * {
  position: absolute;
}

.btn-skills {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #faa307;
  padding: 12px;
  border-radius: 50px;
  border: none;
  background: #f4f2f7;
  box-shadow: 3px 3px 4.5px #d9d9d9, -3px -3px 4.5px #ffffff;
  cursor: pointer;
  width: 12rem;
  margin-top: 7rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.btn-skills:hover {
  color: #0297dc;
}

.btn-skills-dark {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #faa307;
  padding: 12px;
  border-radius: 50px;
  border: none;
  background: #242323;
  box-shadow: 3px 3px 4.5px #272626, -3px -3px 4.5px #464343;
  cursor: pointer;
  width: 12rem;
  margin-top: 7rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.btn-skills-dark:hover {
  color: #93a397;
}
