.n-wrapper {
  height: 11vh;
  display: flex;
  justify-content: space-between;
}

.n-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #001e6c;
  transition: all 1s ease;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  list-style: none;
  color: #001e6c;
}

.n-list > ul > a {
  border-bottom: 2px solid transparent;
  transition: all 0.3s linear;
}

.n-list > ul > li:hover {
  cursor: pointer;
}

.n-list > ul > a:nth-child(1):hover {
  border-bottom: 2px solid #dc2f02;
}

.n-list > ul > a:nth-child(2):hover {
  border-bottom: 2px solid #e85d04;
}

.n-list > ul > a:nth-child(3):hover {
  border-bottom: 2px solid #f48c06;
}

.n-list > ul > a:nth-child(4):hover {
  border-bottom: 2px solid #faa307;
}

.n-list > ul > a:nth-child(5):hover {
  border-bottom: 2px solid #ffba08;
}

.btn-contact {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #faa307;
  padding: 12px;
  border-radius: 50px;
  border: none;
  background: #f4f2f7;
  box-shadow: 3px 3px 4.5px #d9d9d9, -3px -3px 4.5px #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-contact:hover {
  color: #0297dc;
}

.btn-contact-dark {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #faa307;
  padding: 12px;
  border-radius: 50px;
  border: none;
  background: #242323;
  box-shadow: 3px 3px 4.5px #272626, -3px -3px 4.5px #464343;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-contact-dark:hover {
  color: #93a397;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.n-name :active {
  color: #f48c06;
}
