.footer {
  margin-top: 7rem;
}

.footer-name {
  text-align: center;
  font-size: 1rem;
  color: #fb8500;
  margin-bottom: 2rem;
}

.footer-name > span {
  color: #fb8500;
}

.up-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  background-color: #ffb703;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.up-btn > img {
  height: 20px;
  color: #ffb703;
  padding: 0.5rem;
}

.up-btn:hover {
  background-color: #fded05;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.footer-social > a > img {
  height: 30px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.footer-social > a > img:hover {
  transform: scale(1.15);
}
