.floatingdiv {
  justify-content: space-around;
  display: flex;
  background-color: white;
  box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
  border-radius: 18px;
  align-items: center;
  padding: 0px 28px 0px 0px;
  height: 4.5rem;
}

.floatingdiv > img {
  height: 45px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.floatingdiv > span {
  font-size: 18px;
  flex-direction: column;
}
